<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_auth/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Hi {{ user.username }}!</h2>
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'change_password' %}">Change Password</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>
