{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <div>
            <h2>Sign Up</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="error">
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
            <div>
                <p>Already have an account? <a href="{% url 'user_auth:login' %}">Login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}